* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family:
        Roboto,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 1.6rem;
    background-color: lighten($color: white, $amount: 0);
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 5rem;
    }

    .instructions {
        margin-top: 1rem;
    }
}

main {
    .content {
        display: flex;
        justify-content: space-evenly;

        .gameboard {
            text-align: center;

            .board {
                border: 2px solid black;
                margin: 2rem 0 1rem 0;

                .row {
                    display: flex;
                    flex-direction: row;

                    .cell {
                        padding: 18px;
                        border: 2px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            position: absolute;
                            height: 0.5rem;
                            width: 0.5rem;
                            background: black;
                            border-radius: 50%;
                            margin-top: -2px;
                            margin-left: -2px;
                        }
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 4rem;

        button {
            background-color: #ffffff;
            border: 3px solid #222222;
            border-radius: 8px;
            box-sizing: border-box;
            color: #222222;
            cursor: pointer;
            display: inline-block;
            font-family:
                Circular,
                -apple-system,
                BlinkMacSystemFont,
                Roboto,
                'Helvetica Neue',
                sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 2rem;
            outline: none;
            padding: 13px 23px;
            position: relative;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
            transition:
                box-shadow 0.2s,
                -ms-transform 0.1s,
                -webkit-transform 0.1s,
                transform 0.1s;
            user-select: none;
            -webkit-user-select: none;
            width: auto;
        }

        button:focus-visible {
            box-shadow:
                #222222 0 0 0 2px,
                rgba(255, 255, 255, 0.8) 0 0 0 4px;
            transition: box-shadow 0.2s;
        }

        button:active {
            background-color: #f7f7f7;
            border-color: #000000;
            transform: scale(0.96);
        }

        button:disabled {
            border-color: #dddddd;
            color: #dddddd;
            cursor: not-allowed;
            opacity: 1;
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5rem;

    img {
        height: 1.8rem;
    }
}
